@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registration Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Register


<h2>Registration Successful</h2>
<p>Thank you, <strong>@Model.FullName</strong>!</p>
<p>The email you entered is @Model.Email</p>
<p>You have successfully registered for <strong>@Model.EventCode</strong> with <strong>@Model.Tickets</strong> .</p>
@if(!string.IsNullOrEmpty(Model.ReferralCode))
{
    <p>Referral Code: @Model.ReferralCode</p>
}

<partial name-="_EventNav" />